<nav class="navbar navbar-expand-lg navbar-light bg-tranparent nav-color">
  <a class="navbar-brand" href="/">GiveAway</a>
  <span>Hi, <%= userName %>!</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <!-- <span class="navbar-toggler-icon" ></span> -->
    <i class="fa fa-user"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile"
          ><i class="fa fa-user"></i> Profile</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard"
          ><i class="fa fa-clock-rotate-left"></i> History</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/listing">List a Product</a>
      </li>

      <li class="nav-item">
        <form action="/logout" method="POST">
          <button class="btn bg-tranparent pl-0 nav-link" type="submit">
            Log out
          </button>
        </form>
      </li>
    </ul>
    <!-- <span class="navbar-text">
      <a href="/login">Login</a>
    </span> -->
  </div>
</nav>
