<%- include('partials/header', {title: 'log out confiramtion'}) %>
<div class="jumbotron">
  <h1 class="display-4">Successfully logged out!</h1>
  <p class="lead">Log back in to list a product or request an item.</p>
  <hr class="my-4" />
  <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
</div>
<%- include('partials/footer') %>
