<%- include('partials/header', {title: 'request confiramtion'}) %>


<div class="jumbotron">

  <h1 class="display-4">Request, received!</h1>
  <p class="lead">
    Thank you for your interest in the product. The list owner will contact you
    soon.
  </p>
  <hr class="my-4" />
  <a class="btn btn-primary btn-lg" href="/dashboard/request" role="button"
    >Go to user dashboard</a
  >
  <h6 class="mt-3 pt-1">
  <i class="fa fa-arrow-left"></i> <a href="/">Explore other products</a>
  </h6>
</div>
<%- include('partials/footer') %>
